---
import BaseLayoutEn from "../../layouts/BaseLayoutEn.astro";
import { Image } from 'astro:assets'
import TriangleDifficulty from '../../components/TriangleDifficulty.astro';
import { ProjectListEn } from '../../data';
import Filter from "../../components/Filter.astro";
---
<!-- Añadir filtrado de datos por: Dificultad, Titulo, Tecnologias -->
<BaseLayoutEn title="Projects - Héctor Pascual Marín | FullStack Developer">
    <section class="all-projects" id="all-projects" aria-label="All programming projects">
        <h2>Projects</h2>
        <Filter></Filter>
        <div class="projects-container">
            {
                ProjectListEn.map(project => (
            <div class="project-image-container">
                <a href={project.DetailsLink?.Href} 
                class="invisible-link"
                title={project.DetailsLink?.Title}
                target={project.DetailsLink.Target ? '_blank' : '_self'}>
                    <Image 
                        format="webp"
                        class="project-image"
                        src={project.CoverImage?.Image}
                        alt={project.CoverImage?.Alt}
                        loading="eager"
                    />
                    <span class="project-name">{project.Name}</span>

                    <div class="project-toolbar">
                        <span><TriangleDifficulty difficulty={project.Difficulty}></TriangleDifficulty></span>
                        <div style={{ display: "flex", gap: "5px" }}>
                            {
                                project.Languages.map(lang => (
                                    <Image 
                                        format="webp"
                                        src={lang.Logo.Image}
                                        alt={lang.Logo.Alt || 'Imagen del proyecto'}
                                        title={lang.Name}
                                        loading="eager"
                                        style={{ height: '20px' }}
                                    />
                                ))
                            }
                        </div>
                    </div>
                </a>
            </div>
        ))}
        </div>
    </section>
</BaseLayoutEn>