---
import { Image } from 'astro:assets';
import ReactLogo from '../assets/react.png'
import CSSLogo from '../assets/css.svg'
import TypeScriptLogo from '../assets/typescript.png'
import HTMLLogo from '../assets/html.png'
import MongoDBLogo from '../assets/mongodb.png'
import SQLLogo from '../assets/sql.webp'
import GitLogo from '../assets/git.webp'
import DockerLogo from '../assets/docker_logo.png'
import CSharpLogo from '../assets/csharp.svg'
import PythonLogo from '../assets/python.png'

---

<section id="languages-carousel" class="languages-carousel" aria-label="Lenguajes y tecnologías conocidas">
  <div class="carousel-viewport">
    <ul class="carousel-track" id="carousel-track">
      <li class="carousel-slide">
        <a href="https://es.react.dev/" target="_blank" rel="noopener noreferrer">
          <Image loading="lazy" src={ReactLogo} alt="React Logo" title="React" />
        </a>
      </li>
      <li class="carousel-slide">
        <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener noreferrer">
          <Image loading="lazy" src={TypeScriptLogo} alt="Typescript Logo" title="TypeScript" />
        </a>
      </li>
      <li class="carousel-slide">
        <a href="https://dotnet.microsoft.com/es-es/languages/csharp" target="_blank" rel="noopener noreferrer">
          <Image loading="lazy" src={CSharpLogo} alt="CSharp Logo" title="C#" />
        </a>
      </li>
      <li class="carousel-slide">
        <a href="https://www.python.org/" target="_blank" rel="noopener noreferrer">
          <Image loading="lazy" src={PythonLogo} alt="Python Logo" title="Python" />
        </a>
      </li>
      <li class="carousel-slide">
        <a href="https://es.wikipedia.org/wiki/SQL" target="_blank" rel="noopener noreferrer">
          <Image loading="lazy" src={SQLLogo} alt="SQL Logo" title="SQL" />
        </a>
      </li>
      <li class="carousel-slide">
        <a href="https://www.mongodb.com/es" target="_blank" rel="noopener noreferrer">
          <Image loading="lazy" src={MongoDBLogo} alt="MongoDB Logo" title="MongoDB" />
        </a>
      </li>
      <li class="carousel-slide">
        <a href="https://www.docker.com/" target="_blank" rel="noopener noreferrer">
          <Image loading="lazy" src={DockerLogo} alt="Docker Logo" title="Docker" />
        </a>
      </li>
      <li class="carousel-slide">
        <a href="https://git-scm.com/" target="_blank" rel="noopener noreferrer">
          <Image loading="lazy" src={GitLogo} alt="Git Logo" title="Git" />
        </a>
      </li>
      <li class="carousel-slide">
        <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank" rel="noopener noreferrer">
          <Image loading="lazy" src={HTMLLogo} alt="HTML Logo" title="HTML" />
        </a>
      </li>
      <li class="carousel-slide">
        <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank" rel="noopener noreferrer">
          <Image loading="lazy" src={CSSLogo} alt="CSS Logo" title="CSS" />
        </a>
      </li>
    </ul>
  </div>
</section>

<style>
  .languages-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: var(--primary-color);
  }

  .carousel-viewport {
    overflow: hidden;
    width: 100%;
  }

  .carousel-track {
    padding: 0 10px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content;
    list-style: none;
    margin: 0;
  }

  .carousel-slide {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-slide img {
    max-height: 20px;
    max-width: 100px;
    object-fit: contain;
  }
</style>

<script>
  const track = document.getElementById('carousel-track');
  const visibleItems = 5;
  let currentIndex = 0;

  function updateCarousel() {
    if (!!track) {
        const offset = currentIndex * (100 / track.children.length);
        track.style.transform = `translateX(-${offset}%)`;
    }
  }

  function autoSlide() {
    if (!!track) {
        currentIndex = (currentIndex + 1) % (track.children.length - visibleItems + 1);
        updateCarousel();
    }
  }

  updateCarousel();
  setInterval(autoSlide, 3000);
</script>
