---
import EurobananLogo from '../assets/companies/eurobanan-logo.png'
import InetumLogo from '../assets/companies/inetum-logo.png'
import SanVicenteLogo from '../assets/companies/ies-san-vicente-logo.png'
import MariaBlascoLogo from '../assets/companies/ies-maria-blasco-logo.jpg'
import LaCaixaLogo from '../assets/companies/la-caixa-logo.png'
import { Image } from 'astro:assets'
---
<section id="resumen" class="summary">
  <h3 class="summary-title summary-left">Experiencia laboral</h3>
  <h3 class="summary-title summary-right">Logros destacados</h3>
  <h3 class="summary-title summary-left">Estudios</h3>
  <h3 class="summary-title summary-right">Certificaciones</h3>
  <h3 class="summary-title summary-left">Conocimientos</h3>
  <h3 class="summary-title summary-right">Idiomas</h3>
  <h3 class="summary-title summary-left">Más Información</h3>
  <h3 class="summary-title summary-right">Contacto</h3>
</section>
<!-- <section id="resumen" class="summary">
  <h2>Resumen</h2>
  <section class="curriculum-section-container">
    <div class="summary-content work-experience">
  <div class="summary-title">
    <span>📁</span>
    <h3>Experiencia laboral</h3>
  </div>
  <div class="summary-item">
    <div class="summary-item-top">
      <div class="summary-left">
        <h4>Full Stack Developer</h4>
        <div class="summary-subtitle">Eurobanan | Julio 2024 - Actualidad</div>
      </div>
      <Image src={EurobananLogo} 
      loading="lazy" 
      style={{width: 'auto'}}
      alt="Imagen de la compañia Eurobanan" />
    </div>
    <span class="summary-description">
      • Participación activa en desarrollo FullStack (frontend + backend).
      <br/>
      • Uso de React con TypeScript y backend en C#/.NET.
      <br/>
      • Colaboración en la mejora de la interfaz, rendimiento y experiencia de usuario.
      <br/>
      • Gestión integral de proyectos: desde user stories hasta desarrollo e implementación.
      <br/>
      • Diseño de arquitecturas de software, desarrollo de backend y frontend.
      <br/>
      • Revisión y control de calidad mediante pull requests.
      <br/>
      • Creación de proyectos con IA en Python, orientados a la automatización y eficiencia.
      <br/>
      • Participación en el comité interno de inteligencia artificial.
      <br/>
      • Impartición de charlas técnicas sobre aplicaciones de la IA en el entorno laboral.
    </span>
  </div>

  <div class="summary-item">
    <div class="summary-item-top">
      <div class="summary-left">
        <h4>Trainee Backend Developer</h4>
        <div class="summary-subtitle">Inetum | Marzo 2024 - Junio 2024</div>
      </div>
      <Image src={InetumLogo} loading="lazy" 
      style={{width: 'auto'}}
      alt="Imagen de la compañia Inetum" />
    </div>
    <span class="summary-description">
      • Desarrollo de funcionalidades backend en C# dentro de una arquitectura basada en microservicios.
      <br/>
      • Diseño e implementación de microservicios orientados a la automatización de tareas repetitivas y operativas.
      <br/>
      • Optimización del rendimiento del sistema y mejora de la eficiencia de procesos críticos.
    </span>
  </div>
</div>

<div class="summary-content studies">
  <div class="summary-title">
    <span>🎓</span>
    <h3>Estudios</h3>
  </div>

  <div class="summary-item">
    <div class="summary-item-top">
      <div class="summary-left">
        <h4>Especialización Inteligencia Artificial y Big Data</h4>
        <div class="summary-subtitle">IES San Vicente | Sep. 2024 - Jun. 2025</div>
      </div>
      <Image src={SanVicenteLogo} loading="lazy" 
      style={{width: 'auto'}}
      alt="Imagen del instituto IES San Vicente" />
    </div>
  </div>

  <div class="summary-item">
    <div class="summary-item-top">
      <div class="summary-left">
        <h4>Grado Superior en Desarrollo de Aplicaciones Web</h4>
        <div class="summary-subtitle">IES San Vicente | Sep. 2022 - Jun. 2024</div>
      </div>
      <Image src={SanVicenteLogo} loading="lazy" 
      style={{width: 'auto'}}
      alt="Imagen del instituto IES San Vicente" />
    </div>
  </div>

   <div class="summary-item">
    <div class="summary-item-top">
      <div class="summary-left">
        <h4>Bachillerato Técnico Científico</h4>
        <div class="summary-subtitle">IES María Blasco | Sep. 2020 - Jun. 2022</div>
      </div>
      <Image src={MariaBlascoLogo} loading="lazy" 
      style={{width: 'auto'}}
      alt="Imagen del instituto IES María Blasco" />
    </div>
  </div>

</div>
<div class="summary-content achievements">
  <div class="summary-title">
    <span>🎯</span>
    <h3>Logros destacados</h3>
  </div>

  <div class="summary-item">
    <div class="summary-item-top">
      <div class="summary-left">
        <h4>Tercer Puesto en la 8va Edición de FemFutur</h4>
        <div class="summary-subtitle">La Caixa | Mayo 2024</div>
      </div>
      <Image src={LaCaixaLogo} loading="lazy" 
      style={{width: 'auto'}}
      alt="Imagen de la compañia Inetum" />
    </div>
    <span class="summary-description">
      Participé en el concurso FemFutur, organizado por la Generalitat, La Caixa y SECOT, donde desarrollé y presenté mi proyecto empresarial YoTeLimpio, una plataforma web que simplifica la búsqueda de limpiadores para el hogar. Avancé a través de varias etapas contra más de 200 participantes hasta llegar a la final en Valencia, donde tuve la oportunidad de presentar mi proyecto ante una gran audiencia y logré obtener finalmente el tercer puesto.
    </span>
  </div>

</div>
<div class="summary-content certifications">
  <div class="summary-title">
    <span>📜</span>
    <h3>Certificaciones</h3>
  </div>
</div>
<div class="summary-content knowledge">
  <div class="summary-title">
    <span>🧠</span>
    <h3>Conocimientos</h3>
  </div>
</div>
<div class="summary-content languages">
  <div class="summary-title">
    <span>🗣️</span>
    <h3>Idiomas</h3>
  </div>

  <div class="summary-item">
    <div class="summary-item-top">
      <div class="summary-left">
        <h4>Castellano: Nativo</h4>
      </div>
  </div>
  </div>

  <div class="summary-item">
    <div class="summary-item-top">
      <div class="summary-left">
        <h4>Valenciano: B2</h4>
      </div>
  </div>
  </div>

  <div class="summary-item">
    <div class="summary-item-top">
      <div class="summary-left">
        <h4>Inglés: B2</h4>
      </div>
  </div>
  </div>
</div>
<div class="summary-content more-info">
  <div class="summary-title">
    <span>📌</span>
    <h3>Más información</h3>
  </div>
</div>
<div class="summary-content summary-contact">
  <div class="summary-title">
    <span>✉️</span>
    <h3>Contacto</h3>
    <div class="summary-item">
    <span class="summary-description">
      +34 65 3039 281
      hector.pascual.marin@gmail.com
    </span>
    </div>
  </div>
      <span>Linkedin</span>
    <span>Github</span>
    <span>Contactar</span>
    <span>Ver Curriculum</span>
</div>
  </section>
</section> -->