---
import EurobananLogo from '../assets/companies/eurobanan-logo.png'
import InetumLogo from '../assets/companies/inetum-logo.png'
import SanVicenteLogo from '../assets/companies/ies-san-vicente-logo.png'
import MariaBlascoLogo from '../assets/companies/ies-maria-blasco-logo.jpg'
import LaCaixaLogo from '../assets/companies/la-caixa-logo.png'
import OpenWebinarsLogo from '../assets/companies/openwebinars-logo.png'
import CambridgeLogo from '../assets/companies/cambridge-logo.png'
import { Image } from 'astro:assets'
---
<section id="resumen" class="summary">
  <div class="content">
  <h3 class="summary-title summary-left">Experiencia laboral</h3>

  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">FullStack Developer</h4>
            <span class="summary-subtitle">Eurobanan | Julio 2024 - Actualidad</span>
          </div>
          <Image src={EurobananLogo} format="webp" class="summary-image" alt="Logo de la empresa Eurobanan" loading="lazy"/>
        </div>
        <p class="summary-description">
          · Desarrollo y mantenimiento de Altair, un sistema interno de gestión general de todo el negocio.
          <br/>· Desarrollo de test unitarios.
          <br/>· Diseño y desarrollo de un chatbot de inteligencia artificial para soporte web.
          <br/>· Elaboración de documentación técnica para garantizar la mantenibilidad del sistema.
          <br/>· Implementación de React con TypeScript, Vite y DevExpress en el FrontEnd.
          <br/>· Desarrollo del BackEnd en C# y .NET Core, asegurando escalabilidad y rendimiento.
          <br/>· Colaboración en la definición de arquitectura (Clean Architecture) y mejora de procesos internos.
          <br/>· Creación de API Rest comunicadas con el BackEnd. 
          <br/>· Creación y gestión de User Stories y Pull Requests (PRs) para optimizar el flujo de trabajo en el equipo de desarrollo.
        </p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">BackEnd Developer</h4>
            <span class="summary-subtitle">Inetum | Marzo 2024 - Junio 2024</span>
          </div>
          <Image src={InetumLogo} format="webp" class="summary-image" alt="Logo de la consultora Inetum" loading="lazy" />
        </div>
        <p class="summary-description">
          · Desarrollo y gestión de microservicios en C# y .NET Core para el ámbito sanitario.
          <br/>· Automatización de flujos de trabajo con Azure Logic Apps.
          <br/>· Colaboración con un equipo multidisciplinario en un sistema con más de200 profesionales involucrados.
        </p>
      </div>
    </div>
  </div>
   <h3 class="summary-title summary-left">Estudios</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Especialización en Inteligencia Artificial y Big Data</h4>
            <span class="summary-subtitle">IES San Vicente | Septiembre 2024 - Junio 2025</span>
          </div>
          <Image src={SanVicenteLogo} format="webp" class="summary-image" alt="Logo del instituto IES San Vicente" loading="lazy" />
        </div>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Técnico Superior en Desarrollo de Aplicaciones Web</h4>
            <span class="summary-subtitle">IES San Vicente | Septiembre 2022 - Junio 2024</span>
          </div>
          <Image src={SanVicenteLogo} format="webp" class="summary-image" alt="Logo del instituto IES San Vicente" loading="lazy" />
        </div>
      </div>
    </div>

  <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Bachillerato Técnico Científico</h4>
            <span class="summary-subtitle">ES María Blasco | Septiembre 2020 - Junio 2022</span>
          </div>
          <Image src={MariaBlascoLogo} format="webp" class="summary-image" alt="Logo del instituto IES María Blasco" loading="lazy" />
        </div>
      </div>
    </div>

  </div>
  <div class="small-item">
  <h3 class="summary-title summary-left">Logros destacados</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">3er Premio de FemFutur</h4>
            <span class="summary-subtitle">Caixa Popular | Mayo 2024</span>
          </div>
        </div>
        <p class="summary-description">
          Creación de plataforma web para la búsqueda de limpiadores domésticos. Finalista en FemFutur Caixa Popular 2024, obteniendo el 3er puesto entremás de 200 participantes.
        </p>
      </div>
    </div>
  </div>
  <h3 class="summary-title summary-left">Conocimientos</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">FrontEnd</h4>
          </div>
        </div>
        <p class="summary-description">
         HTML, CSS, Bootstrap, JavaScript, TypeScript, React, SASS, AngularJS
        </p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">BackEnd</h4>
          </div>
        </div>
        <p class="summary-description">
          C#, .NET Core, PHP, Python
        </p>
      </div>
    </div>
  </div>
  <h3 class="summary-title summary-left contact-title">Idiomas</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-content-box">
        <p class="summary-description">
          <span class="bold">Castellano:</span> Nativo
          <br/>
          <span class="bold">Valenciano:</span> Alto (B2)
          <br/>
          <span class="bold">Inglés:</span> Alto (B2)
        </p>
      </div>
    </div>
  </div>
    <h3 class="summary-title summary-left">Certificaciones</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Curso de .NET Framework (10 horas)</h4>
            <span class="summary-subtitle">OpenWebinars | Marzo 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} format="webp" class="summary-image" alt="Logo de la empresa OpenWebinars" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Curso de TypeScript (14 horas)</h4>
            <span class="summary-subtitle">OpenWebinars | Marzo 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} format="webp" class="summary-image" alt="Logo de la empresa OpenWebinars" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Curso de C# Intermedio (8 horas)</h4>
            <span class="summary-subtitle">OpenWebinars | Marzo 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} format="webp" class="summary-image" alt="Logo de la empresa OpenWebinars" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Inglés Nivel B2 (Score 168)</h4>
            <span class="summary-subtitle">Cambridge University | Agosto 2021</span>
          </div>
          <Image src={CambridgeLogo} format="webp" class="summary-image" alt="Logo de la Cambridge University" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
  </div>
  <h3 class="summary-title contact-title summary-left">Contacto</h3>
  <div class="timeline">
    <p class="summary-description">
      <br/>hector.pascual.marin@gmail.com
      <br/>+34 65 3039 281<br/><br/>
    </p>
    <div id="action-buttons">
      <a href="https://www.linkedin.com/in/h%C3%A9ctor-pascual-mar%C3%ADn-953787232/" target="_blank" title="Acceder a Linkedin" class="linkedin primary-button button">Linkedin</a>
      <a href="https://github.com/H-Pascual" target="_blank" title="Acceder a Github" class="github primary-button button">Github</a>
      <a href="#contacto" title="Contáctame" class="hero-button primary-button button">Contáctame</a>
      <a href="/curriculum" title="Ver Currículum" class="secondary-button button">Ver Curriculum</a>
    </div>
  </div>
  </div>
    <div class="side-item">
  <h3 class="summary-title summary-right">Logros destacados</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">3er Premio de FemFutur</h4>
            <span class="summary-subtitle">Caixa Popular | Mayo 2024</span>
          </div>
        </div>
        <p class="summary-description">
          Creación de plataforma web para la búsqueda de limpiadores domésticos. Finalista en FemFutur Caixa Popular 2024, obteniendo el 3er puesto entremás de 200 participantes.
        </p>
      </div>
    </div>
  </div>
  <h3 class="summary-title summary-right">Conocimientos</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">FrontEnd</h4>
          </div>
        </div>
        <p class="summary-description">
         HTML, CSS, Bootstrap, JavaScript, TypeScript, React, SASS, AngularJS
        </p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">BackEnd</h4>
          </div>
        </div>
        <p class="summary-description">
          C#, .NET Core, PHP, Python
        </p>
      </div>
    </div>
  </div>
  <h3 class="summary-title summary-right contact-title">Idiomas</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-content-box">
        <p class="summary-description">
          <span class="bold">Castellano:</span> Nativo
          <br/>
          <span class="bold">Valenciano:</span> Alto (B2)
          <br/>
          <span class="bold">Inglés:</span> Alto (B2)
        </p>
      </div>
    </div>
  </div>
    <h3 class="summary-title summary-right">Certificaciones</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Curso de .NET Framework (10 horas)</h4>
            <span class="summary-subtitle">OpenWebinars | Marzo 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} format="webp" class="summary-image" alt="Logo de la empresa OpenWebinars" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Curso de TypeScript (14 horas)</h4>
            <span class="summary-subtitle">OpenWebinars | Marzo 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} format="webp" class="summary-image" alt="Logo de la empresa OpenWebinars" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Curso de C# Intermedio (8 horas)</h4>
            <span class="summary-subtitle">OpenWebinars | Marzo 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} format="webp" class="summary-image" alt="Logo de la empresa OpenWebinars" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Inglés Nivel B2 (Score 168)</h4>
            <span class="summary-subtitle">Cambridge University | Agosto 2021</span>
          </div>
          <Image src={CambridgeLogo} format="webp" class="summary-image" alt="Logo de la Cambridge University" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
  </div>
</section>