---
import EurobananLogo from '../../assets/companies/eurobanan-logo.png'
import InetumLogo from '../../assets/companies/inetum-logo.png'
import SanVicenteLogo from '../../assets/companies/ies-san-vicente-logo.png'
import MariaBlascoLogo from '../../assets/companies/ies-maria-blasco-logo.jpg'
import OpenWebinarsLogo from '../../assets/companies/openwebinars-logo.png'
import CambridgeLogo from '../../assets/companies/cambridge-logo.png'
import { Image } from 'astro:assets'
---
<section id="resumen" class="summary">
  <div class="content">
  <h3 class="summary-title summary-left">Work experience</h3>

  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">FullStack Developer</h4>
            <span class="summary-subtitle">Eurobanan | July 2024 - Present</span>
          </div>
          <Image src={EurobananLogo} class="summary-image" format="webp" alt="Eurobanan company logo" loading="lazy"/>
        </div>
        <p class="summary-description">
          · Development and maintenance of Altair, an internal system for managing the entire business.
          <br/>· Development of unit tests.
          <br/>· Design and development of an artificial intelligence chatbot for web support.
          <br/>· Preparation of technical documentation to ensure system maintainability.
          <br/>· Implementing React with TypeScript, Vite, and DevExpress on the Front End.
          <br/>· Backend development in C# and .NET Core, ensuring scalability and performance.
          <br/>· Collaboration in defining architecture (Clean Architecture) and improving internal processes.
          <br/>· Creating Rest APIs that communicate with the BackEnd. 
          <br/>· Creating and managing User Stories and Pull Requests (PRs) to optimize the development team's workflow.
        </p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">BackEnd Developer</h4>
            <span class="summary-subtitle">Inetum | March 2024 - June 2024</span>
          </div>
          <Image src={InetumLogo} class="summary-image" format="webp" alt="Logo of the consulting firm Inetum" loading="lazy" />
        </div>
        <p class="summary-description">
          · Development and management of microservices in C# and .NET Core for the healthcare sector.
          <br/>· Automating workflows with Azure Logic Apps.
          <br/>· Collaboration with a multidisciplinary team in a system with more than 200 professionals involved.
        </p>
      </div>
    </div>
  </div>
   <h3 class="summary-title summary-left">Studies</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Specialization in Artificial Intelligence and Big Data</h4>
            <span class="summary-subtitle">IES San Vicente | September 2024 - June 2025</span>
          </div>
          <Image src={SanVicenteLogo} class="summary-image" format="webp" alt="Logo of the IES San Vicente" loading="lazy" />
        </div>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Higher Technician in Web Application Development</h4>
            <span class="summary-subtitle">IES San Vicente | September 2022 - June 2024</span>
          </div>
          <Image src={SanVicenteLogo} class="summary-image" format="webp" alt="Logo of the IES San Vicente" loading="lazy" />
        </div>
      </div>
    </div>

  <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Technical Scientific Baccalaureate</h4>
            <span class="summary-subtitle">ES María Blasco | September 2020 - June 2022</span>
          </div>
          <Image src={MariaBlascoLogo} class="summary-image" format="webp" alt="Logo of the IES María Blasco" loading="lazy" />
        </div>
      </div>
    </div>

  </div>
  <div class="small-item">
  <h3 class="summary-title summary-left">Achievements</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">3rd Prize of FemFutur</h4>
            <span class="summary-subtitle">Caixa Popular | May 2024</span>
          </div>
        </div>
        <p class="summary-description">
          Creation of a web platform for searching for household cleaners. Finalist in FemFutur Caixa Popular 2024, obtaining third place among more than 200 participants.
        </p>
      </div>
    </div>
  </div>
  <h3 class="summary-title summary-left">Knowledge</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">FrontEnd</h4>
          </div>
        </div>
        <p class="summary-description">
         HTML, CSS, Bootstrap, JavaScript, TypeScript, React, SASS, AngularJS
        </p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">BackEnd</h4>
          </div>
        </div>
        <p class="summary-description">
          C#, .NET Core, PHP, Python
        </p>
      </div>
    </div>
  </div>
  <h3 class="summary-title summary-left contact-title">Languages</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-content-box">
        <p class="summary-description">
          <span class="bold">English:</span> High Level (B2)
          <br/>
          <span class="bold">Spanish:</span> Native
          <br/>
          <span class="bold">Valencian:</span> High Level (B2)
        </p>
      </div>
    </div>
  </div>
    <h3 class="summary-title summary-left">Certifications</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">.NET Framework Course (10 hours)</h4>
            <span class="summary-subtitle">OpenWebinars | March 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} class="summary-image" format="webp" alt="OpenWebinars company logo" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">TypeScript Course (14 hours)</h4>
            <span class="summary-subtitle">OpenWebinars | March 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} class="summary-image" format="webp" alt="OpenWebinars Company logo" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Intermediate C# Course (8 hours)</h4>
            <span class="summary-subtitle">OpenWebinars | March 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} class="summary-image" format="webp" alt="OpenWebinars Company logo" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">English Level B2 (Score 168)</h4>
            <span class="summary-subtitle">Cambridge University | August 2021</span>
          </div>
          <Image src={CambridgeLogo} class="summary-image" format="webp" alt="Cambridge University logo" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
  </div>
  <h3 class="summary-title contact-title summary-left">Contact</h3>
  <div class="timeline">
    <p class="summary-description">
      <br/>hector.pascual.marin@gmail.com
      <br/>+34 65 3039 281<br/><br/>
    </p>
    <div id="action-buttons">
      <a href="https://www.linkedin.com/in/h%C3%A9ctor-pascual-mar%C3%ADn-953787232/" target="_blank" title="Access Linkedin" class="linkedin primary-button button">Linkedin</a>
      <a href="https://github.com/H-Pascual" target="_blank" title="Access Github" class="github primary-button button">Github</a>
      <a href="#contacto" title="Contact me" class="hero-button primary-button button">Contact me</a>
      <a href="/curriculum" title="See Curriculum" class="secondary-button button">See Curriculum</a>
    </div>
  </div>
  </div>
    <div class="side-item">
  <h3 class="summary-title summary-right">Achievements</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">3rd Prize of FemFutur</h4>
            <span class="summary-subtitle">Caixa Popular | May 2024</span>
          </div>
        </div>
        <p class="summary-description">
          Creation of a web platform for searching for household cleaners. Finalist in FemFutur Caixa Popular 2024, obtaining third place among more than 200 participants.
        </p>
      </div>
    </div>
  </div>
  <h3 class="summary-title summary-right">Knowledge</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">FrontEnd</h4>
          </div>
        </div>
        <p class="summary-description">
         HTML, CSS, Bootstrap, JavaScript, TypeScript, React, SASS, AngularJS
        </p>
      </div>
    </div>

    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">BackEnd</h4>
          </div>
        </div>
        <p class="summary-description">
          C#, .NET Core, PHP, Python
        </p>
      </div>
    </div>
  </div>
  <h3 class="summary-title summary-right contact-title">Languages</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-content-box">
        <p class="summary-description">
            <span class="bold">English:</span> High Level (B2)
            <br/>
          <span class="bold">Spanish:</span> Native
          <br/>
          <span class="bold">Valencian:</span> High Level (B2)
        </p>
      </div>
    </div>
  </div>
    <h3 class="summary-title summary-right">Certifications</h3>
  <div class="timeline">
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">.NET Framework Course (10 hours)</h4>
            <span class="summary-subtitle">OpenWebinars | March 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} class="summary-image" format="webp" alt="OpenWebinars company logo" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">TypeScript Course (14 hours)</h4>
            <span class="summary-subtitle">OpenWebinars | March 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} class="summary-image" format="webp" alt="OpenWebinars company logo" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">Intermediate C# Course (8 hours)</h4>
            <span class="summary-subtitle">OpenWebinars | March 2024</span>
          </div>
          <Image src={OpenWebinarsLogo} class="summary-image" format="webp" alt="OpenWebinars company logo" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="summary-item">
      <div class="summary-marker"></div>
      <div class="summary-content-box">
        <div class="summary-header">
          <div class="summary-text">
            <h4 class="summary-job-title">English Level B2 (Score 168)</h4>
            <span class="summary-subtitle">Cambridge University | August 2021</span>
          </div>
          <Image src={CambridgeLogo} class="summary-image" format="webp" alt="Cambridge University logo" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
  </div>
</section>